<div class="container-fluid d-flex row w-100 iransans">
  <div
    *ngFor="let item of secondPageEmployeeList"
    class="py-4 col-sm-6 col-md-4 col-lg-3 col-xl-2"
  >
    <div class="col d-flex flex-row align-items-center">
      <span class="ms-2">{{ item.name }}</span>
      <label class="switch">
        <input type="checkbox" [checked]="check" />
        <span class="slider round"></span>
      </label>
      <span class="me-2">{{ item.datetime.split("T")[1].split('.')[0].substr(0,5)}}</span>
    </div>
  </div>
</div>