<div class="container rtl iransans">
    <span class="title d-flex flex-row justify-content-center mb-4"> خدا قوت</span>

    <span class="content d-flex flex-row justify-content-center mt-3">گزارش کار امروز رو ثبت کردی ؟</span>
    <span class="content d-flex flex-row justify-content-center mt-5">به عملکرد امروز خودت چه امتیازی میدی ؟</span>


    <div class="d-flex flex-row justify-content-center mt-4">
            <ngx-star-rating [(ngModel)]="rating"></ngx-star-rating>
    </div>

    <div class="form-group">
        <textarea [(ngModel)]="description" class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="هرچه میخواهد دل تنگت بگو ..."></textarea>
    </div>

    <div class="d-flex flex-row justify-content-center mt-4">
        <button (click)="onLeaving(employeeId, description, rating)" mat-dialog-close class="go iransans" mat-raised-button>به سلامت</button>
    </div>
</div>