.user-name {
    color: #4895d6;
    font-size: 16px;
    font-weight: bold;
}

.work-time {
    color: #61cf4f;
    font-size: 16px;
}

.rest-time {
    color: #fc8f8f;
    font-size: 16px;
}

.work,
.rest {
    border-radius: 50px;
    width: 100px;
    height: 50px;
    font-size: 16px;
}

.work:hover {
    background-color: #ecf8ea;
}

.rest:hover {
    background-color: #ffe3e3;
}

.work:focus {
    box-shadow: 0 0 12px #61cf4f;
    border: 1px solid #61cf4f;
    background-color: #ecf8ea;
}

.rest:focus {
    box-shadow: 0 0 12px #fc8f8f;
    border: 1px solid #fc8f8f;
    background-color: #ffe3e3;
}

.progress {
    width: 850px;
    height: 5px;
}

::ng-deep.mat-progress-bar-fill::after {
    background-color: #9f9f9f;

}

::ng-deep .mat-progress-bar-buffer {
    background: #eaeaea;
}

.point-fill {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #9f9f9f;
    align-items: end;
}
.point-empty{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:white;
    border: 1px solid #9f9f9f;
    align-items: start;
}
.mat-progress-bar{
    bottom: 5px;
}
.timebar{
    width: 887px;

}
.bar{
    height: 25px;
}
.time-bar-container{
    font-size: 12px; 
}
.container-timer{
    height: 500px;
}
.leave{
    width: 100px;
    height: 40px;
    font-size: 14px;
    border-radius: 7px;
     border:1px solid #cacaca ;
}
.custom-select{
    height: 50px;
    width: 250px;
    font-size: 20px;
    border-radius: 7px;
}

.warn{
    background-color: orange;
}
.dan{
    background-color: red;
}

/* admin part */

::ng-deep.mat-slide-toggle{
    font-family: "IRANSans" !important;
}
.user-container{
    padding: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ccc;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 3px;
    background-color: #fc8f8f;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  input:checked + .slider.round:before  {
    background-color: #61cf4f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }