<div class="d-flex flex-column">
  <div class="d-flex flex-row justify-content-center"></div>
  <div class="user-name d-flex flex-row justify-content-end iransans p-4">
    {{ employeeName$[0] | async }}
  </div>
  <div class="container-timer">
    <div
      class="d-flex flex-row justify-content-center align-items-center iransans"
    >
      <span class="work-time ms-3">{{ worktime }}</span>
      <button
        [disabled]="disabledWork"
        (click)="onStartWork()"
        class="work iransans ms-3"
        mat-stroked-button
      >
        در حال کار
      </button>
      <button
        [disabled]="disabledRest"
        (click)="onStartRest()"
        class="rest iransans ms-3"
        mat-stroked-button
      >
        استراحت
      </button>
      <span class="rest-time ms-3">{{ resttime }}</span>
    </div>

    <div
      class="time-bar-container d-flex flex-column justify-content-end align-items-center iransans mt-5"
    >
      <div class="timebar d-flex flex-row">
        <span class="d-flex flex-row w-100">24:00</span>
        <span class="col d-flex flex-row justify-content-end">00:00</span>
      </div>
      <app-user-progress-bar></app-user-progress-bar>
    </div>
  </div>
  <!--admin part-->
  <div
    *ngIf="selectedId == 30 || selectedId ==7 || selectedId ==23"
    class="container-fluid d-flex row w-100 iransans"
    style="margin-right: 50px; margin-left: 100px; margin-bottom: 100px; margin-top: -300px;"
  >
    <div
      *ngFor="let item of secondPageEmployeeList"
      class="py-4 col-sm-6 col-md-4 col-lg-3 col-xl-2"
    >
      <div class="col d-flex flex-row align-items-center">
        <span class="ms-2">{{ item.name }}</span>
        <label class="switch">
          <input
            type="checkbox"
            [(ngModel)]="item.check"
            onchange="fireChangeState()"
          />

          <span class="slider round"></span>
        </label>
        <span class="me-2">{{
          item.datetime.split("T")[1].split(".")[0].substr(0, 5)
        }}</span>
      </div>
    </div>
  </div>
  <footer class="rtl d-flex flex-row justify-content-center">
    <button (click)="onOpenDialog()" class="iransans leave" mat-raised-button>
      دارم میرم
    </button>
  </footer>
</div>
