    <div style="padding-right: 10%; padding-left: 10%; padding-top: 5%;">
        <h1 class="text-center" style="font-weight: bold;"> ---- پنل مدیریت ----</h1>
        <br>
        <hr>
        <hr>
        <hr>
        <br>
        <h2 class="text-center"> لیست کارمندان </h2>
        <table class="table table-striped">
          <thead>
          </thead>
          <tbody>
            <tr *ngFor="let item of  employeeList$ | async">
              <td class="text-center bold">{{ item.id }}</td>
              <td class="text-center bold">{{ item.name }}</td>
              <td class="text-center">
                <button 
                  (click)="fireDeleteEmployee(item.id)"
                  id="delete{{ item.id }}"
                  mat-stroked-button
                  color="warn"
                  class="bold"
                >
                   حذف از لیست کارمندان
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <hr>
        <hr>
        <br>
        <h2 class="text-center"> لیست اطلاعات صفحه دوم کارمندان </h2>
        <div class="text-center bold">
        <p>ای دی کارمند را سرچ و نام او را مشاهده کنید</p>
  <form>
    <input type="number" style="width: 400px; height: 32px; margin: 10px;" name="id" [(ngModel)]="searchCase"
     placeholder="ای دی را وارد و اطلاعات را دریافت کنید">
     <button mat-raised-button color="primary" (click)="search(searchCase)">جستجو</button>
  </form>
  <table class="table table-striped">
    <thead>
      <th>نام خانوادگی</th>
    </thead>
    <tbody>
      <tr>
        <td class="text-center bold">{{Employee.name}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-center bold">
    <p>اطلاعات صفحه دوم هر کارمند بر حسب ای دی</p>
<form>
<input type="number" style="width: 400px; height: 32px; margin: 10px;" name="id" [(ngModel)]="searchCase2"
 placeholder="ای دی را وارد و اطلاعات را دریافت کنید">
 <button mat-raised-button color="primary" (click)="search2(searchCase2)">جستجو</button>
</form>
<table class="table table-striped">
<thead>
  <th>تاریخ</th>
  <th>توصیف</th>
  <th>احساس</th>
</thead>
<tbody>
  <tr>
    <td class="text-center bold">{{EmployeeSecondPage.dateTime}}</td>
    <td class="text-center bold">{{EmployeeSecondPage.description}}</td>
    <td class="text-center bold">{{EmployeeSecondPage.emotion}}</td>
  </tr>
</tbody>
</table>
</div>

  <br>
        <table class="table table-striped">
          <thead>
            <td>ای دی</td>
            <td>تاریخ</td>
            <td>ایموجی</td>
            <td>توصیف حال</td>
            <td> ای دی کارمند</td>
          </thead>
          <tbody>
            <tr *ngFor="let item of  secondPageEmployeeList$ | async">
              <td class="text-center bold">{{ item.id }}</td>
              <td class="text-center bold">{{ item.dateTime }}</td>
              <td class="text-center bold">{{ item.emotion }}</td>
              <td class="text-center bold">{{ item.description }}</td>
              <td class="text-center bold">{{ item.employeeId }}</td>
            </tr>
          </tbody>
        </table>
        </div>